<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="artist">
            <h2><span>Artist</span> {{ artist.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ artist.name }}</span>
                </dd>
                <dt><span>Language</span></dt>
                <dd>
                    <span>{{ artist.language }}</span>
                </dd>
                <dt><span>Genre</span></dt>
                <dd>
                    <span>{{ artist.genre }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/artist', artist.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
