<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-song-heading">Create or edit a Song</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           formControlName="title"/>
                    <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('title')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_duration">Duration (in seconds)</label>
                    <input type="number" class="form-control" name="duration" id="field_duration"
                           formControlName="duration"/>
                    <div *ngIf="editForm.get('duration')!.invalid && (editForm.get('duration')!.dirty || editForm.get('duration')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('duration')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('duration')?.errors?.min">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('duration')?.errors?.max">
                            This field cannot be more than 1000.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('duration')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_year">Year</label>
                    <input type="number" class="form-control" name="year" id="field_year"
                           formControlName="year"/>
                    <div *ngIf="editForm.get('year')!.invalid && (editForm.get('year')!.dirty || editForm.get('year')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('year')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('year')?.errors?.min">
                            This field should be at least 1900.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('year')?.errors?.max">
                            This field cannot be more than 2021.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('year')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_language">Language</label>
                    <select class="form-control" name="language" formControlName="language" id="field_language">
                        <option value="FRENCH">FRENCH</option>
                        <option value="ENGLISH">ENGLISH</option>
                        <option value="SPANISH">SPANISH</option>
                        <option value="ITALIAN">ITALIAN</option>
                    </select>
                    <div *ngIf="editForm.get('language')!.invalid && (editForm.get('language')!.dirty || editForm.get('language')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('language')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="field_artists">Artist</label>
                    <select class="form-control" id="field_artists" multiple name="artists" formControlName="artists">
                        <option [ngValue]="getSelected(editForm.get('artists')!.value, artistOption)" *ngFor="let artistOption of artists; trackBy: trackById">{{ artistOption.name }}</option>
                    </select>
					<br/><button type="button" id="cancel-save" class="btn btn-secondary" (click)="createNewArtist()">
						<fa-icon icon="plus"></fa-icon>&nbsp;<span>Create new Artist</span>
					</button>
                </div>

                <div class="form-group">
                    <label for="field_albums">Album</label>
                    <select class="form-control" id="field_albums" multiple name="albums" formControlName="albums">
                        <option [ngValue]="getSelected(editForm.get('albums')!.value, albumOption)" *ngFor="let albumOption of albums; trackBy: trackById">{{ albumOption.title }}</option>
                    </select>
					<br/><button type="button" id="cancel-save" class="btn btn-secondary" (click)="createNewAlbum()">
						<fa-icon icon="plus"></fa-icon>&nbsp;<span>Create new Album</span>
					</button>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
