<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="song">
            <h2><span>Song</span> {{ song.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ song.title }}</span>
                </dd>
                <dt><span>Duration (in seconds)</span></dt>
                <dd>
                    <span>{{ song.duration }}</span>
                </dd>
                <dt><span>Year</span></dt>
                <dd>
                    <span>{{ song.year }}</span>
                </dd>
                <dt><span>Language</span></dt>
                <dd>
                    <span>{{ song.language }}</span>
                </dd>
                <dt><span>Artist</span></dt>
                <dd>
                    <span *ngFor="let artist of song.artists; let last = last">
                        <a [routerLink]="['/artist', artist?.id, 'view']">{{ artist.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span>Album</span></dt>
                <dd>
                    <span *ngFor="let album of song.albums; let last = last">
                        <a [routerLink]="['/album', album?.id, 'view']">{{ album.title }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/song', song.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
